@{
    ViewBag.Title = "Pozorište";
}

<div class="jumbotron">
    <h1>Pozorište</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-film"></i>Nove predstave</h2>
        <p>
            
        </p>
       
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-user"></i>Novi glumci</h2>
        
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-calendar"></i>Repertoar</h2>
        
    </div>
</div>